body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    color: #777;
}

.charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

canvas {
    margin: 10px;
    width: 500px !important; /* 너비 조정 */
    height: 300px !important; /* 높이 조정 */
}
